{% extends 'base.html.twig' %}

{% block title %}{{ cinema.nom }}{% endblock %}

{% block body %}
    <h1 class="nom_cinema">{{ cinema.nom }}</h1>
    <div class="cinema_liste_films">
        {% for filmAffiche in filmsAAffiche %}
            <ul class="cinema_films"
                onclick="location.href='/index.php/respProg/films/' + {{ filmAffiche.film.id }}">
                <li class="cinema_film_nom">{{ filmAffiche.film.titre }}</li>
            </ul>
        {% endfor %}
    </div>
    <a class="roadToProgCinema" href="/admin/cinemas/programmation/{{ cinema.id }}">
        <button class="button_progCinema">Programmer Cinéma</button>
    </a>
{% endblock %}
