{% extends 'base.html.twig' %}

{% block title %}Liste de films{% endblock %}

{% block body %}
    <h1>Nos films</h1>
    {% for film in films %}
        <ul onclick="location.href= '/respProg/films/{{ film.id }}'">
            <li>Id : {{ film.id }}</li>
            <li>Résumé : {{ film.resume }}</li>
            <li>Titre : {{ film.titre }}</li>
            <li>Réalisateur : {{ film.realisateur }}</li>
        </ul>
        <br>
    {% endfor %}
{% endblock %}
